{% extends 'base.html' %}
{% block content %}
<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <div>
        <label>{{ form.book_name.label }}</label>
        {{ form.book_name }}
      </div>
      <div>
        <label>{{ form.publisher.label }}</label>
        <select name="{{ form.publisher.name }}" class="form-control">
          {% for p in form.publisher.field.queryset %}
          <option value="{{ p.pk }}">{{ p.publisher_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label>{{ form.book_category.label }}</label>
        <select name="{{ form.book_category.name }}" class="form-control">
          {% for c in form.book_category.field.queryset %}
          <option value="{{ c.pk }}">{{ c.category }}</option>
          {% endfor %}
        </select>
      </div>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight">
    <button class="btn btn-primary" id="submit_btn" type="submit">新增</button>
  </div>
</form>
</div>
{% endblock %}