{% extends 'base.html' %}
{% block head%}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    .data-title {
      margin: 20px 0;
  }
  </style>
{% endblock %}
{% block content %}
<div class="container-fluid" style="top:0; bottom:0;">
  <div class="row" style="top:0; bottom:0;">
      <div class="col-md-3" style="background-color:#E0E0E0; top:0; bottom:0; padding-top: 20px;">
          <nav>
            <ul style="list-style-type: none; font-size:20px">
              <li class="data-title"><a href="#">
                  <i class="fas fa-home"></i>
                  <span class="nav-item">Base</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-user"></i>
                  <span class="nav-item">Profile</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-wallet"></i>
                  <span class="nav-item">Wallet</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-chart-bar"></i>
                  <span class="nav-item">Analytics</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-tasks"></i>
                  <span class="nav-item">Tasks</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-cog"></i>
                  <span class="nav-item">Settings</span>
              </a></li>
              <li class="data-title"><a href="">
                  <i class="fas fa-question-circle"></i>
                  <span class="nav-item">Help</span>
              </a></li>
              <li class="data-title"><a href="" class="logout">
                  <i class="fas fa-sign-out-alt"></i>
                  <span class="nav-item">Log out</span>
              </a></li>
          </ul>
          </nav>
      </div>
      <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 my-2">
              <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-4 my-2">
              <canvas id="myDoughnutChart"></canvas>
            </div>
            <div class="col-md-4 my-2">
              <h3>其他統計：</h3>
              <ul>
                <li>借閱次數總計: {{ borrows_count }} </li>
                <li>歸還總計: {{ returned_count }} </li>
                <li>未歸還總計: {{ not_returned_count }} </li>
                <li>會員人數: {{ not_returned_count }} </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 my-2">
              <h3>各出版社書籍量統計：</h3>
              <ul>
                {% for pub, cnt in publisher_data_list_zip %}
                  <li>出版社 {{ pub }} 有 {{ cnt }} 本書。</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-4 my-2">
              <h3>各類書籍借閱量統計：</h3>
              <ul>
                {% for cat, cnt in category_data_list_zip %}
                <li> {{ cat }} 有 {{ cnt }} 本書。</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-4 my-2">
              <!-- 放置第六格內容 -->
            </div>
          </div>
          <div class="row">
              <div class="col-md-4 my-2">
              </div>
              <div class="col-md-4 my-2">
                  <!-- 放置第八格內容 -->
              </div>
              <div class="col-md-4 my-2">
                  <!-- 放置第九格內容 -->
              </div>
          </div>
          <div class="card border-dark mb-3 col-md-4">
            <div class="card-header"><h3>各出版社書籍量統計：</h3></div>
            <div class="card-body text-dark">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
  </div>
</div>

<script>
  const ctx = document.getElementById('myChart');
  
  const labels = {{ publisher_data_list.publisher|safe }};
  const data = {{ publisher_data_list.count }};
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: '各出版社書籍量統計',
        data: data,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
  const ctx2 = document.getElementById('myDoughnutChart');
  const d_labels = {{ category_data_list.book_category|safe }};
  const d_data = {{ category_data_list.count }};
  const dataDoughnut = {
    labels: d_labels,
    datasets: [{
      label: '總計',
      data: d_data,
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(0, 255, 0)',
      'rgb(153, 153, 255)',
      ],
      hoverOffset: 4
    }]
  };
  
  new Chart(ctx2, {
    type: 'doughnut',
    data: dataDoughnut,
    options: {
      plugins: {
        title: {
          display: true,
          text: '各類書籍借閱量統計',
          font: {
            size: 16,
            style: 'bold',
          },
        },
      },
    },
  });
  
</script>
{% endblock %}
